@import "nav.css";
@import "homepage.css";
@import "footer.css";
@import "formulaire.css";
@import "shop.css";
@import "perso.css";
body {
  background-color: white;
}

html {
  scroll-behavior: smooth;
}
/* contact  */

.contact-form {
  margin-left: 600px;
}
.user-details .input-box:nth-child(3) {
  margin-top: 20px; /* Ajouter une marge supérieure pour descendre le champ "EMAIL" */
}

.content-wrapper {
  margin-left: 70px;

}
.contact-section{
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  margin-left: 650px;
}
.contact-section .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.contact-section .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
}

::placeholder {
  font-family: sofia-pro;
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -660px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(112% / 2 - 20px);
}

form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box textarea,
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  background-color: rgb(156, 156, 156); /* Définition de la couleur de fond en noir */
  color: black; /* Définition de la couleur du texte en blanc */
}

.user-details .input-box:first-child {
  margin-right: 0px; /* Ajouter une marge à droite du champ "Nom" */
}

.user-details .input-box input[type="mail"] {
  width: 702px; /* Définir une largeur absolue pour le champ d'e-mail */
}

 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button textarea,
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: black;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
 }

  user-details {
    margin-bottom: 20px; /* Ajout de marge en bas pour séparer la section "Email" */
  }
  
  .message-box {
    margin-right: 200px;
    margin-top: 20px; /* Augmenter la marge en haut pour déplacer la section "Message" vers le bas */
  }
  .message-box textarea {
    height: 240px !important; /* Ajuster la hauteur de la zone de texte */
    width: 702px !important; /* Utiliser toute la largeur disponible */
  }
  
  #problemContainer {
    width: 1300px;
    margin-top: 20px;
  }
  .button-container .submit {
  width: 150px; /* Définir une largeur fixe pour les boutons */
  height: 50px; /* Définir une hauteur fixe pour les boutons */
  border: none; /* Supprimer la bordure par défaut */
  border-radius: 0; /* Supprimer les coins arrondis */
  background-color: 156, 156, 156; /* Couleur de fond grise pour les boutons */
  margin-bottom: 200px;
  font-family: Anton, sans-serif;
  font-size: 1.5rem;
}
.button-container .reset {
  width: 150px; /* Définir une largeur fixe pour les boutons */
  height: 50px; /* Définir une hauteur fixe pour les boutons */
  border: none; /* Supprimer la bordure par défaut */
  border-radius: 0; /* Supprimer les coins arrondis */
  background-color: 156, 156, 156; /* Couleur de fond grise pour les boutons */
  margin-bottom: 200px;
  font-family: Anton, sans-serif;
  font-size: 1.5rem;
  margin-right: 40px;
}

.button-container .reset:hover,
.button-container .submit:hover {
    background-color: white; /* Couleur de fond au survol */
    color: black;
  }

  


@media (max-width: 768px) {
  .contact-form {
    margin-left: 0; /* Réinitialiser la marge à gauche pour les écrans encore plus petits */
  }

  .contact-form .user-details .input-box {
    width: 100%; /* Ajuster la largeur des champs pour qu'ils occupent toute la largeur */
  }

  .contact-form .user-details .input-box input[type="mail"] {
    width: 94%; /* Ajuster la largeur du champ d'e-mail pour qu'il occupe toute la largeur */
  }
  .message-box textarea {
    height: 240px !important; /* Ajuster la hauteur de la zone de texte */
    width: 375px !important; /* Utiliser toute la largeur disponible */
  }
  #problemContainer {
    width: 375px;
    margin-top: 20px;
  }
  .button-container .submit {
    width: 150px; /* Définir une largeur fixe pour les boutons */
    height: 50px; /* Définir une hauteur fixe pour les boutons */
    border: none; /* Supprimer la bordure par défaut */
    border-radius: 0; /* Supprimer les coins arrondis */
    background-color: black; /* Couleur de fond grise pour les boutons */
    margin-bottom: 200px;
    font-family: Anton, sans-serif;
    font-size: 1.5rem;
  }
  .button-container .reset {
    width: 100px; /* Définir une largeur fixe pour les boutons */
    height: 50px; /* Définir une hauteur fixe pour les boutons */
    border: none; /* Supprimer la bordure par défaut */
    border-radius: 0; /* Supprimer les coins arrondis */
    background-color: black; /* Couleur de fond grise pour les boutons */
    font-family: Anton, sans-serif;
    font-size: 1.5rem;
  }
  
  .button-container .reset:hover,
  .button-container .submit:hover {
      background-color: black; /* Couleur de fond au survol */
      color: black;
    }

}