@import "nav.css";
@import "homepage.css";
@import "footer.css";
@import "formulaire.css";
@import "shop.css";
@import "perso.css";


body {
  background-color: rgb(253, 253, 253);
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

.fleche-gauche,
.fleche-droite {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slide1,
.slide2 {
  margin-right: 200px;
}

.text1 {
  margin-top: 10px;
  font-family: Jost, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
.text2 {
  margin-top: 10px;
  font-family: sofia-pro, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 5px;
}

.text3 {
  display: flex;
  align-items: center;
  color: black !important;
  padding: 10px 15px;
  text-decoration: none;
  background-color: white;
  box-shadow: 0 0 0 2px black;
  border-radius: 1px;
  font-size: 2rem;
  font-family: Jost;
}
.text3:hover {
  background-color: black;
  color: white !important;
}

/* pop up */

/* Popup styles */
.popup {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  padding: 8px;
  margin-bottom: 16px;
}
.toggle-password {
  position: relative;
  margin-bottom: 50px; /* Ajustez cette valeur selon votre besoin */
  padding: 5px 10px; /* Ajustez la taille du bouton */
  font-size: 12px; /* Ajustez la taille de la police */
  border: none;
  background-color: black; /* Couleur de fond du bouton */
  cursor: pointer;
  width: 100px;
}

.toggle-password:hover {
  background-color: #ddd; /* Couleur de fond au survol */
}

#password {
  padding-right: 40px; /* Réservez de l'espace à droite pour le bouton */
}
.form-container {
  font-family: Baskerville, sans-serif; /* Remplacez "Votre Police" par le nom de la police souhaitée */
}
@media (max-width: 835px) {
  .image-fond {
    width: 100vw;
  }
}
@media (min-width: 836px) and (max-width: 1200px) {
  .image-fond {
    margin-left: 35rem;
  }
}

@media (min-width: 1201px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  .carousel {
    display: flex;
    overflow: hidden;
  }

  .image-fond {
    margin-left: 35rem;
  }

  .carousel-item {
    min-width: 30%;
    display: none;
    transition: 0.5s ease;
  }

  .carousel-item.active {
    display: block;
  }

  .text-wrapper {
    position: absolute;
    top: 58%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  .text1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Jost, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .text2 {
    margin-top: 10px;
    font-family: sofia-pro, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 5px;
  }

  .text3 {
    display: flex;
    align-items: center;
    color: black !important;
    padding: 10px 15px;
    text-decoration: none;
    background-color: white;
    box-shadow: 0 0 0 2px black;
    border-radius: 1px;
    font-size: 2rem;
    font-family: Jost;
  }
  .text3:hover {
    background-color: black;
    color: white !important;
  }
}
