body {
  background-color: white;
}

html {
  scroll-behavior: smooth;
}
  
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav-brand, .navbar, .nav-icons {
    display: flex;
    align-items: center;
  }

  .nav-brand img {
    height: auto; 
    width: 100px; 
  }

  .nav-brand {
    margin-right: 200px; 
  }
  .nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 20px; 
  }

  .nav-links li {
    padding: 0 10px;
  }

  .nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-family: Jost;
  }

  .nav-icons span {
    margin: 0 10px; 
  }

  .nav-icons span img {
    height: 24px; 
    width: auto; 
  }
  .code-promo {
    width: 100%; /* Largeur du rectangle */
    height: 80px; /* Hauteur du rectangle */
    background-color: #000000; /* Couleur de fond */
    border: 2px solid #000000; /* Bordure */
    color: white; /* Couleur du texte */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Ajoutez cette règle pour s'assurer que la partie texte de la section 'sneaker-collection' est également centrée */
  
  .shop-now {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .shop-now:hover {
    background-color: #555;
  }
  
  .sneaker-image img {
    width: 50%;
    max-width: 300px;
    position: absolute;
    right: 10%;
    bottom: 10%;
  }

  
  
  @media screen and (max-width: 768px) {
    .cards {
      width: 70%;
      right: 5%;
      bottom: 5%;
    }
  
  }

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}



@mixin aspect-ratio($width, $height) {
  position: relative;
    
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
    
  > img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
  }
}

section {
    background: #F4F4F4;
    padding: 50px 0;
}

.container {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 20px;
}

.carousel {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
    
    > input {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        
       
        &:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -200%; }
        &:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -100%; }
        &:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: 0%; }
        
        &:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
        &:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
        &:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
       
    }
}

.carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
}

.carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    vertical-align: top;
    box-sizing: border-box;
    white-space: normal;
    
    figure {
        display: flex;
        margin: 0;
    }
    
    div {
        @include aspect-ratio(3, 2);
        width: 100%;
    }
    
    img {
        display: block;
        flex: 1 1 auto;
        object-fit: cover;
    }
    
    figcaption {
        align-self: flex-end;
        padding: 20px 20px 0 20px;
        flex: 0 0 auto;
        width: 25%;
        min-width: 150px;
    }
    
    .credit {
        margin-top: 1rem;
        color: rgba(0, 0, 0, 0.5);
        display: block;        
    }
    
    &.scrollable {
        overflow-y: scroll;
    }
}

.carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
    margin: 0 -10px;
    
    .carousel__slides + & {
        margin-top: 20px;
    }
    
    li {        
        flex: 1 1 auto;
        max-width: calc((100% / 6) - 20px);  
        margin: 0 10px;
        transition: all 300ms ease-in-out;
    }
    
    label {
        display: block;
        @include aspect-ratio(1,1);
        
                  
        &:hover,
        &:focus {
            cursor: pointer;
            
            img {
                box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.25);
                transition: all 300ms ease-in-out;
            }
        }
    }
    
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}




.btn-decouvrir {
  height: 50px;
  width: 300%;
  color: white !important;
  font-family: Bangers;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  border-radius: 30px;
  box-shadow: 0 0 0 2px rgb(0, 0, 0), 0 0 0 5px black;
}

/*.buy-now:hover {
  background-color: #0056b3; /* Couleur de fond au survol */
/*}*/

.footer {
  width: 100%; /* Largeur du rectangle */
  height: 100%; /* Hauteur du rectangle */
  background-color: #000000; /* Couleur de fond */
  border: 2px solid #000000; /* Bordure */
  color: white; /* Couleur du texte */
  display: flex;
}

.text1-footer {
  font-family: Anton, sans-serif;
  font-size: 1.5rem;
  text-align: left;
  margin-left: 100px;
  margin-top: 100px;
}
.text2-footer {
  font-family: Jost, sans-serif;
  font-size: 1.5rem;
  text-align: left;
  margin-left: 100px;
  margin-top: 100px;
}
.text2-footer-1 {
  font-family: Anton, sans-serif;
  font-size: 1.5rem;
}
.text2-footer-2 {
  font-family: Anton, sans-serif;
  font-size: 1.5rem;
}
.text2-footer-3 {
  font-family: Anton, sans-serif;
  font-size: 1.5rem;
}

.bas-page {
    width: 100%; /* Largeur du rectangle */
    height: 100%; /* Hauteur du rectangle */
    background-color: #000000; /* Couleur de fond */
    border: 2px solid #000000; /* Bordure */
    color: white; /* Couleur du texte */
    display: flex;
    justify-content: space-between;
    font-family: Jost, sans-serif;
    align-items: center; /* Pour aligner verticalement les éléments */
    font-size: 1.5rem;
    font-style: italic;
}
.bas-page img {
  width: 16px;
  height: 23px;
} 
.Copyright {
  width: 100%; /* Largeur du rectangle */
  height: 100%; /* Hauteur du rectangle */
  background-color: #000000; /* Couleur de fond */
  border: 2px solid #000000; /* Bordure */
  color: white; /* Couleur du texte */
  font-family: Jost, sans-serif;
  align-items: center; /* Pour aligner verticalement les éléments */
  justify-content: center;
  display: flex;
}
.Copyright p {
  font-size: 2rem;
  font-style: italic;
}
.main-container {
  display: flex;
  justify-content: space-between; /* Ajustez l'espacement entre le carrousel et le texte explicatif */
  align-items: flex-start; /* Alignez les éléments en haut */
  padding: 20px; /* Ajoutez du padding autour de l'ensemble pour plus d'espace */
  gap: 20px; /* Espacement entre le carrousel et la description */
}

.container {
  flex-basis: 60%; /* Ajustez la largeur du carrousel */
}