* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .nav-brand, .navbar, .nav-icons {
    display: flex;
    align-items: center;
  }
  
  .nav-brand img {
    height: auto; /* Maintient le ratio de l'image */
    width: 100px; /* Ajustez la largeur de votre logo */
  }
  
  .nav-brand {
    margin-right: 200px; /* Ajoutez une marge à droite du logo pour le pousser plus loin des liens de navigation */
  }
  .nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 20px; /* Ajustez l'espacement selon vos besoins */
  }
  
  .nav-links li {
    padding: 0 10px; /* Ajustez l'espacement autour de chaque lien */
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 16px; /* Ajustez selon vos besoins */
  }
  
  .nav-icons span {
    margin: 0 10px; /* Espace entre les icônes */
  }
  
  .nav-icons span img {
    height: 24px; /* Ajustez la hauteur des icônes */
    width: auto; /* Cela permet de maintenir le ratio de l'image */
  }
  
  
  /* Ajoutez cette règle pour s'assurer que la partie texte de la section 'sneaker-collection' est également centrée */
  .sneaker-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Cela prend la hauteur restante de l'écran après l'en-tête */
  }
  
  
  .sneaker-collection h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .shop-now {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .shop-now:hover {
    background-color: #555;
  }
  
  .sneaker-image img {
    width: 50%;
    max-width: 300px;
    position: absolute;
    right: 10%;
    bottom: 10%;
  }

  
  
  @media screen and (max-width: 768px) {
    .sneaker-image img {
      width: 70%;
      right: 5%;
      bottom: 5%;
    }
  
    .sneaker-collection h1 {
      font-size: 2em;
    }
  }
