@import "nav.css";
@import "homepage.css";
@import "footer.css";
@import "formulaire.css";
@import "shop.css";
@import "perso.css";

body {
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

.produits-une {
  margin-top: 100px;
  margin-left: 50px;
}

.produits-une p {
  font-family: Jost, sans-serif;
  font-style: italic;
  font-size: 1rem;
}

.produits-une h1 {
  font-family: Anton, sans-serif;
  font-size: 3rem;
}

.produits-une h1 sup {
  font-size: 1.5rem;
  color: grey;
}
.galerie-container {
  display: flex;
  position: relative;
}

.galerie-thumbnails {
  flex: 0 0 auto; /* Ne s'étend pas */
}

.gallery-main {
  flex: 1; /* S'étend pour occuper l'espace restant */
  position: relative;
  margin-inline: 10rem 2rem;
}

.galerie-thumbnails img {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  height: 100px;
  width: 100px;
}

.gallery-main img {
  width: 502px;
  height: 659px;
  border-radius: 20px;
}

.galerie-button {
  margin-top: 20px;
}
.button-container {
  position: absolute;
  bottom: 10px;
  right: 850px;
}
.button-container button {
  background: grey;
  font-family: Jost, sans-serif;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.banner {
  text-align: center;
}

.banner img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.texte-produit {
  font-family: Jost, sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 200px;
}

.description {
  max-width: 500px; /* Limiter la largeur de la description pour éviter qu'elle ne prenne trop d'espace */
  margin-left: 20px; /* Ajouter un espacement entre la galerie et la description */
}

.galerie-container {
  display: flex;
  margin-left: 100px; /* ou la valeur que vous souhaitez */
  position: relative;
}
.nom {
  font-family: Anton, sans-serif;
  font-size: 3rem;
}

.square {
  border: 2px solid black; /* Définir l'épaisseur et la couleur du cadre */
  padding: 10px; /* Espace à l'intérieur du cadre */
  display: inline-block; /* Pour que le cadre s'adapte à son contenu */
}
.taille {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.ajout-panier {
  display: flex;
  flex-direction: row; /* Pour aligner horizontalement les éléments */
  align-items: center;
}

select {
  border: 2px solid black; /* Définit l'épaisseur et la couleur de la bordure */
  border-radius: 5px; /* Arrondit les coins du contour */
  width: 100px; /* Ajuste la largeur du select selon vos besoins */
  font-family: Jost, sans-serif;
  font-size: 14px; /* Ajuste la taille de la police */
  padding: 5px 10px; /* Ajoute un espacement à l'intérieur du select */
  width: 75px; /* Ajuste la largeur du select selon vos besoins */
  height: 75px; /* Ajuste la hauteur du select selon vos besoins */
}

button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #333; /* Change la couleur lorsqu'on survole */
}
.texte-produit {
  font-family: Jost, sans-serif;
  font-size: 1rem;
  margin-top: -55px; /* Ajout d'un espacement */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wishlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

/* Tablette */

@media (min-width: 836px) and (max-width: 1200px) {
  .gallery-main {
    display: flex;
    justify-content: center;
    margin-inline: 2rem;
  }
  .nav-icons span:last-child {
    display: none;
  }
}

/* Dekstop */

@media (min-width: 1201px) {
  .nav-icons span:last-child {
    display: none;
  }
  .galerie-container {
    margin-left: 100px; /* ou la valeur que vous souhaitez */
  }
}

/* Mobile */

@media (max-width: 835px) {
  .galerie-container {
    flex-direction: column;
    justify-content: center;
    margin-inline: 1rem;
  }
  .galerie-thumbnails {
    display: none; /* Masquer le conteneur de la galerie */
  }
  .gallery-main {
    display: flex;
    justify-content: center;
    margin-inline: 2rem;
  }
  .gallery-main img {
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
  }
  .texte-produit {
    margin: 0;
  }

  .carousel__slide,
  .carousel__thumbnails li {
    width: 100%; /* Pleine largeur pour les diapositives et miniatures du carrousel */
    flex-basis: auto; /* Ajustement pour la flexibilité */
  }

  .site-info,
  .container {
    flex-basis: auto; /* Permet aux éléments de s'ajuster naturellement */
    width: 100%; /* Utilisez toute la largeur disponible */
    /* Petit padding pour ne pas toucher les bords */
  }

  .code-promo,
  .footer,
  .bas-page {
    flex-direction: column;
    text-align: center; /* Centrage du texte pour une meilleure lecture */
  }

  .text1-footer,
  .text2-footer {
    margin-left: 20px; /* Ajustement des marges pour les textes dans le footer */
    margin-top: 20px;
    font-size: 1.2rem; /* Taille de police ajustée pour l'espace limité */
  }
}
