@import "nav.css";
@import "homepage.css";
@import "footer.css";
@import "formulaire.css";
@import "shop.css";
@import "perso.css";
.produits-une {
  margin-top: 100px;
  margin-left: 50px;
}

.produits-une p {
  font-family: Jost, sans-serif;
  font-style: italic;
  font-size: 1rem;
}

.produits-une h1 {
  font-family: Anton, sans-serif;
  font-size: 3rem;
}

.produits-une h1 sup {
  font-size: 1.5rem;
  color: grey;
}

.filtres select {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  margin-left: 10px;
  font-family: Jost, sans-serif;
  text-align: left;
}
.filtres select[name="prix"] {
  width: 100px; /* Largeur personnalisée */
}
.filtres select[name="couleur"] {
  width: 100px; /* Largeur personnalisée */
}
.filtres select[name="categories"] {
  width: 120px; /* Largeur personnalisée */
}
.filtres select[name="trier_par"] {
  width: 100px; /* Largeur personnalisée */
}
.filtres select[name="marque"] {
  width: 100px; /* Largeur personnalisée */
}
.filtres select[name="genre"] {
  width: 100px; /* Largeur personnalisée */
}
.filtres select[name="plus_filtres"] {
  width: 125px; /* Largeur personnalisée */
}
.filtres label {
  display: none;
}
.produits p {
  font-family: Jost, sans-serif;
  font-size: 1.5rem;
  margin-top: 50px;
}
.produits {
  margin-left: 100px;
}

.clear-filters {
  justify-content: right;
  display: flex;
  align-items: center;
  margin-right: 75px;
  font-family: Jost, sans-serif;
  font-size: 1.5rem;
}
#clearFilters {
  cursor: pointer;
}

.produit-galerie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}


.taille-image {
  width: 200px;
  height: 200px;
}
.produit1 {
  font-family: Jost, sans-serif;
  display: block;
}
.produit2 {
  font-family: Jost, sans-serif;
  display: block;
}
.produit3 {
  font-family: Jost, sans-serif;
  display: block;
}
.produit4 {
  font-family: Jost, sans-serif;
  display: block;
}

@media (max-width: 768px) {
  .code-promo,
  .footer,
  .bas-page {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .code-promo p,
  .produits-une p,
  .produits p,
  .clear-filters,
  .text1-footer,
  .text2-footer,
  .text2-footer-1,
  .text2-footer-2,
  .text2-footer-3 {
    font-size: smaller;
  }

  .produits-une {
    margin: 50px 20px;
  }

  .produits {
    margin: 0 20px;
  }

  .produit-galerie-container {
    justify-content: center;
  }

  .taille-image {
    width: 150px;
    height: 150px;
  }

  .filtres select {
    margin: 10px 0;
  }

  .clear-filters {
    margin-right: 20px;
  }
}
